In [2]:
import pandas as pd

In [3]:
'''
Part 1: UFO
'''
ufo = pd.read_csv('../data/ufo.csv')   # can also read csvs directly from the web!
ufo


# 1. change the column names so that each name has no spaces
#           and all lower case

# 2. Show a bar chart of all shapes reported

# 3. Show a dataframe that only displays the reportings from Utah

# 4. Show a dataframe that only displays the reportings from Texas

# 5. Show a dataframe that only displays the reportings from Utah OR Texas

# 6. Which shape is reported most often?

# 7. Plot number of sightings per day in 2014 (days should be in order!)

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
80513,Manahawkin,NaN,CIRCLE,NJ,9/4/2014 8:30
80514,New Bedford,NaN,LIGHT,MA,9/4/2014 9:47
80515,Woodbridge,NaN,TRIANGLE,VA,9/4/2014 16:30
80516,Glendale,NaN,CYLINDER,CA,9/4/2014 17:38
80517,Laconia,NaN,CIGAR,NH,9/4/2014 19:02
80518,Langhorne,NaN,OTHER,PA,9/4/2014 19:30
80519,Glen Ellyn,RED,CIRCLE,IL,9/4/2014 20:20
80520,Waynesburg,NaN,FLASH,PA,9/4/2014 20:25
80521,Canal Winchester,NaN,TRIANGLE,OH,9/4/2014 20:30
80522,Lawrence,ORANGE,LIGHT,MA,9/4/2014 20:30
80523,Ellicott City,NaN,LIGHT,MD,9/4/2014 20:45
80524,Olympia,RED,LIGHT,WA,9/4/2014 21:10
80525,Iowa City,BLUE,LIGHT,IA,9/4/2014 21:11
80526,Marshfield,NaN,LIGHT,MA,9/4/2014 21:15
80527,Seattle,NaN,DIAMOND,WA,9/4/2014 21:15
80528,North Royalton,RED,TRIANGLE,OH,9/4/2014 21:30
80529,Deer Park,NaN,LIGHT,WA,9/4/2014 22:00
80530,Glen St. Mary,NaN,DISK,FL,9/4/2014 22:00
80531,Abingdon,NaN,CIRCLE,VA,9/4/2014 22:05
80532,Lawrence,NaN,LIGHT,MA,9/4/2014 22:15
80533,Melbourne,NaN,OVAL,IA,9/4/2014 22:15
80534,Burleson,NaN,LIGHT,TX,9/4/2014 22:30
80535,Elizabethtown,NaN,CIRCLE,KY,9/4/2014 22:30
80536,Wyoming,RED,DISK,PA,9/4/2014 23:00
80537,Neligh,NaN,CIRCLE,NE,9/4/2014 23:20
80538,Neligh,NaN,CIRCLE,NE,9/4/2014 23:20
80539,Uhrichsville,NaN,LIGHT,OH,9/5/2014 1:14
80540,Tucson,RED BLUE,NaN,AZ,9/5/2014 2:40
80541,Orland park,RED,LIGHT,IL,9/5/2014 3:43
80542,Loughman,NaN,LIGHT,FL,9/5/2014 5:30

In [7]:
'''
Part 2: IRIS
'''

iris = pd.read_csv('../data/iris.csv')   # can also read csvs directly from the web!

# 1. Show the mean petal length by flower species

# 2. Show the mean sepal width by flower species

# 3. Use the groupby to show both #1 and #2 in one dataframe

# 4. Create a scatter plot plotting petal length against petal width
#    Use the color_flowers function to 

# 5. Show flowers with sepal length over 5 and petal length under 1.5

# 6. Show setosa flowers with petal width of exactly 0.2

# 7. Write a function to predict the species for each observation

def classify_iris(data):
    if False:
        return 'Iris-setosa'
    elif False:
        return 'Iris-versicolor'
    else:
        return 'Iris-virginica'

# example use: 
# classify_iris([0,3,2.1,3.2]) == 'Iris-virginica'
# assume the order is the same as the dataframe, so:
# [sepal_length', 'sepal_width', 'petal_length', 'petal_width']


# make predictions and store as preds
preds = iris.drop('species', axis=1).apply(classify_iris, axis = 1)


preds


# test your function: compute accuracy of your prediction
(preds == iris['species']).sum() / float(iris.shape[0])

In [11]:
'''
Part 3: FIFA GOALS
'''

goals = pd.read_csv('../data/fifa_goals.csv')
goals.sort_index(by='team1score', inplace = True)
goals


# 1. Some elements in the minute column have a  '+', remove it and cast each element as an int!

# 2. Show goals scored in the first 5 minutes of a game

# 3. Show goals scored after the regulation 90 minutes is over

# 4. Show the top scoring players

# 5. Show a histogram (distribution) of minutes with 20 bins

# 6. Show a histogram of the number of goals scored by players

      game_id minute          player  team1score  team2score
1103      422     80        VlaoviÄ           0           2
1414      551     34         J. Cole           0           1
1423      554     60         FlÃ¡vio           0           1
1425      556     10         Å½igiÄ           0           1
1426      556     20           IliÄ           0           2
1430      557     26       Materazzi           0           1
1431      557     87         Inzaghi           0           2
1444      561     36         Juanito           0           1
1446      563     55          Vieira           0           1
1447      563     61           Henry           0           2
1452      566      6        MÃ¡rquez           0           1
1465      573     49           Ayala           0           1
1470      576     57           Henry           0           1
1471      577    119          Grosso           0           1
1410      549     57        Podolski           0           3
1472      577   120+       Del Piero           0           2
1483      584     13    Dermendzhiev           0           1
1484      584     49           Bonev           0           2
1492      587     11        PetrÃ¡Å¡           0           1
425       136     12          Haller           0           1
1497      588     21         Houmane           0           1
1505      591      3        PetrÃ¡Å¡           0           1
1518      596     12       Nikodimov           0           1
406       130     25  Yang Sung-kook           0           3
405       130     22   Lee Dong-woon           0           2
404       130      1  Park Seung-jin           0           1
1542      606     13       GonzÃ¡lez           0           1
1553      608     31         Mullery           0           1
1554      608     49          Peters           0           2
1478      580      7     Zidane [p.]           0           1
...       ...    ...             ...         ...         ...
2136      824     70          Burhan           6           0
188        51     89        Fontaine           6           3
691       283     84          Nyberg           7           0
2152      827     79        SchÃ¤fer           7           1
87         21     83         Vincent           7           3
207        57     72         Szentes           7           1
1638      642     89           Tiago           7           0
1836      719     61           Oblak           7           0
2137      824     76            Erol           7           0
2127      823     73        J. TÃ³th           7           1
781       305     88           Chico           7           1
762       302     73       J. PÃ©rez           7           0
7           1    90+          Meazza           7           1
2176      830     77          Probst           7           5
2085      816     75        PalotÃ¡s           7           0
2128      823     77            Rahn           7           2
2107      819     85         Abbadie           7           0
2153      827     82          Lefter           7           2
1918      750     84        Bierhoff           7           0
1919      750    90+       Schneider           8           0
2129      823     78          Kocsis           8           2
208        57     73         L. Kiss           8           1
763       302     83         Ghiggia           8           0
1837      719     65       PetkoviÄ           8           0
2086      816     83        PalotÃ¡s           8           0
2130      823     81        Herrmann           8           3
692       283     89    H. Andersson           8           0
2087      816     89         PuskÃ¡s           9           0
209        57     76         L. Kiss           9           1
1838      719     81        BajeviÄ           9           0

[2207 rows x 5 columns]